<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Configuration - Superviseur</title>
</head>
<body>
    <div id="app">
        <h1>Configuration Superviseur</h1>
        
        <table>
            <tr>
                <td>Nom</td>
                <td>Lien</td>
                <td>Duree (minutes)</td>
                <td>Fréquence (minutes)</td>
                <td>Action</td>
            </tr>
            <tr v-for="(config, index) in configs">
                <td><input type="text" v-model="config.nom"></td>
                <td><input type="text" v-model="config.lien"></td>
                <td><input type="text" v-model="config.duree"></td>
                <td><input type="text" v-model="config.frequence"></td>
                <td><button @click="removeItem(index)">✖</button>
                    <button @click="moveUp(index)">▲</button>
                    <button @click="moveDown(index)">▼</button>
                </td>
            </tr>
        </table>

        <button @click="execute()">Exécuter</button>
        <button @click="addItem()">Ajouter</button>
        <button @click="saveConfigs()">Sauvegarder</button>
    </div>
    <p>
        <i>* si la fréquence d'un élément vaut 0, l'élément est lancé par défaut uniquement s'il n'y a pas d'autre lien à lancer.</i>
    </p>
</body>
<script src="public/js/execute.js"></script>
<script src="public/js/main.js"></script>
</html>